
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSMicrosoftSharepointOnline/.vs/*
library/PSMicrosoftSharepointOnline/PSMicrosoftSharepointOnline/bin/*
library/PSMicrosoftSharepointOnline/PSMicrosoftSharepointOnline/obj/*

# ignore PowerShell Studio MetaData
library/PSMicrosoftSharepointOnline.csproj
library/PSMicrosoftSharepointOnline.csproj.bak
library/PSMicrosoftSharepointOnline.csprojs

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*